<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>To do list</title>
</head>
<body>
    <header>
        <h1>To do List</h1>
    </header>

    <div>
        {% block content%}
        {% endblock %}
        <br>

        <a  href="/admin">Admin Login</a><br>
        <a  href="/"> to do</a>
    </div>
</body>
<!--the base html is for nothing more than to be the foundation of the htmls created-->
</html>