{% extends 'Todo_app/base.html' %}

{% block content %}

<div class="row mt-4">
  <div class="col">
    <div class= "h2">
      <h2>Add item</h2>
    </div>	
    <form action="/add_item/" method="POST" class="form-inline">{% csrf_token %}						
      <input	type="text" name="content"	class="form-control mb-2 mr-sm-2"	placeholder="Type here...">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">		
    <ol class="list-group">
      {% for items in listed %}
      <!--items is the object id in views and listed is all the objects in views-->
      <li class="list-group-item"><a href="details/{{items.id}}">{{items.text}}</a>
        <div class="float-right">
          <form action="delete_todo/{{items.id}}" method="POST">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ol>
 </div>
</div>



{% endblock %}